<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Church Management App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <style>
      label {
        display: none !important;
      }
    </style>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          Macedonia Management System
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">
                <i class="fa-solid fa-list fa-lg"></i> All Members
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add' %}">
                <i class="fa-solid fa-plus fa-lg"></i> Add Member
              </a>
            </li>      
          </ul>
          <li class="nav-item float-end" style="list-style-type: none;">
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
          </li>
        </div>
      </div>
    </nav>
    {% endif %}
    <div class="container-fluid" style="margin-top: 60px;">{% block body %} {% endblock %}</div>
    <footer class="mt-auto mb-4">
      <div class="text-center">
        <span>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Macedonia Management System
        </span>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
