{% extends "members/base.html" %}

{% block body %}
<div class="row p-5">
    <div class="col-md-3">
        <div class="bg-primary p-4 d-flex flex-column justify-content-center align-items-center">
            <h5 class="text-white">Members</h5>
            <h2 class="text-white">{{ members.count }}</h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-primary p-4 d-flex flex-column justify-content-center align-items-center">
            <h5 class="text-white">Males</h5>
            <h2 class="text-white">{{ males.count }}</h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-primary p-4 d-flex flex-column justify-content-center align-items-center">
            <h5 class="text-white">Females</h5>
            <h2 class="text-white">{{ females.count }}</h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-primary p-4 d-flex flex-column justify-content-center align-items-center">
            <h5 class="text-white">Married</h5>
            <h2 class="text-white">{{ married.count }}</h2>
        </div>
    </div>  
    <div class="mt-4">
      <h5>{% now "F" %} Birthday Celebrations </h5>    
    <div class="mt-2">
          {% load tz %}  <!-- Load the timezone template tags if not already loaded -->
          {% if current_months_birthdays %}
                <ol class="list-group list-group-numbered">
                  {% for member in current_months_birthdays %}
                      <!-- <li>{{ user.name }} - {{ user.date_of_birth|date:"F d" }}</li> -->
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">{{member.full_name}}</div>
                            {{member.date_of_birth|date:"F d"}}
                          </div>
                        </li>
                  {% endfor %}
                  </ol>
          {% else %}
              <p>No upcoming birthdays.</p>
          {% endif %}
      </div>
    </div>  
  </div>
</div>

<div class="row">
  <div class="col-12">
    {% if members %}
    <div class="card bg-light ms-4 me-4 mb-4" >
      <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Member Records
      </div>
      <div class="card-body">
        <p class="card-text">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Full Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Date of Birth</th>
                  <th scope="col">Place of Birth</th>
                  <th scope="col">Occupation</th>
                  <th scope="col">Email</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for member in members %}
                  <tr>
                    <td>{{ member.full_name }}</td>
                    <td>{{ member.gender }}</td>
                    <td>{{ member.phone }}</td>
                    <td>{{ member.date_of_birth }}</td>
                    <td>{{ member.place_of_birth }}</td>
                    <td>{{ member.occupation }}</td>
                    <td>{{ member.email }}</td>
                    <td>
                      <button type="button" class="btn btn-success me-1" href="{% url 'view_member' member.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{member.id}}">
                        <i class="fa-solid fa-circle-info fa-lg"></i>
                      </button>

                      <!-- Modal-View Member-->
                      <div class="modal" id="myModal{{member.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                Member: {{ member.first_name }} {{ member.last_name }} 
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <ul class="list-unstyled">
                                <li>Full Name: <strong> {{ member.full_name }} </strong></li>
                                <li>Gender: <strong> {{ member.gender }} </strong></li>
                                <li>Email: <strong> {{ member.email }} </strong></li>
                                <li>Occupation: <strong> {{ member.occupation }} </strong></li>
                                <li>Date of Birth: <strong> {{ member.date_of_birth }} </strong></li>
                                <li>Phone: <strong> {{ member.phone }} </strong></li>
                                <li>Place of Birth: <strong> {{ member.place_of_birth }} </strong></li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <a class="btn btn-warning me-1" href="{% url 'edit' member.id %}">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                      </a>

                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{member.id}}">
                        <i class="fa-solid fa-trash-can fa-lg"></i>
                      </button>

                      <!-- Modal - Delete Student -->
                      <div class="modal" id="delete{{member.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                Member: {{ member.first_name }} {{ member.last_name }}
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete this member?</p>
                            </div>
                            <div class="modal-footer">
                              <form action="{% url 'delete' member.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Delete">
                              </form>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table> 
          </div>
        </div>
      </div>
    </div>
    {% else %}
      <h5 class="alert alert-primary ms-4 me-4">No Member Records</h5>
    {% endif %}
  </div>
{% endblock %}
